<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="cn" connectionString="Data Source=192.168.10.100;Initial Catalog=ZEUS_POS_FE;Persist Security Info=True;User ID=SPV;Password=1234" providerName="System.Data.SqlClient" />
      <!--<add name="cn" connectionString="Data Source=JUNIOR;Initial Catalog=ZEUS_POS_FE;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />-->
      <!--<add name="cn" connectionString="Server=tcp:softzeusposbd.database.windows.net,1433;Initial Catalog=ZEUS_POS_FE;Persist Security Info=False;User ID=ngonzano;Password=14@qweszxc;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
            providerName="System.Data.SqlClient" />-->
        <add name="Valor" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\xx.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />
        <!--<add name="Microsell_Lite.Properties.Settings.cn" connectionString="Data Source=192.168.0.100;Initial Catalog=POS_Microsell_Lite;Persist Security Info=True;User ID=SPV;Password=1234"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Fozzy.Object" publicKeyToken="da510636ee0727d5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.6185.32691" newVersion="1.1.6185.32691" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fozzy.IO" publicKeyToken="da510636ee0727d5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.6185.32690" newVersion="1.1.6185.32690" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
